/*=============================
Extra Large Screen - Others
===============================*/
@media screen and (min-width: 1400px) and (max-width: 1599px) {
	.header-wrpper {
		padding: 0 20px;
	}
	.desktop-navbar ul {
		column-gap: 35px;
	}

	.desktop-one-banner-area::after {
		height: 250px;
	}
}
/*=============================
Extra Large Screen - Others
===============================*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	.header-area {
		padding: 30px 0;
	}
	.header-wrpper {
		padding: 0 20px;
	}
	.desktop-navbar ul {
		column-gap: 25px;
	}
	.desktop-navbar ul li a {
		font-size: 17px;
	}

	.first-slider-area,
	.second-slider-wrpper {
		padding-right: calc((100% - 1140px) / 2);
	}
	.image-slider-area {
		padding-left: calc((100% - 1140px) / 2);
	}

	.desktop-one-banner-area::after {
		height: 220px;
	}

	.post-cntn h3 {
		margin-bottom: 35px;
	}
	.post-cntn p {
		font-size: 32px;
	}

	.post-row-one .post-cntn {
		padding-left: calc(100% - 1140px / 2);
	}
	.post-row-tow .post-cntn {
		padding-right: calc(100% - 1140px / 2);
	}
}

/*========================
Large Screen - Leptop
==========================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.header-area {
		padding: 25px 0;
	}
	.header-wrpper {
		padding: 0 20px;
		padding-left: 0;
	}
	.lang-controller ul {
		column-gap: 15px;
	}
	.lang-controller ul li {
		font-size: 17px;
		padding: 3.5px 9.5px;
		padding-bottom: 9px;
	}
	.main-logo a img {
		max-width: 100%;
	}
	.desktop-navbar ul {
		column-gap: 18px;
	}
	.desktop-navbar ul li a {
		font-size: 15px;
	}

	.home-title-area {
		padding-top: 70px;
		padding-bottom: 90px;
	}
	.home-title-wrpper {
		row-gap: 50px;
	}

	.first-slider-area,
	.second-slider-wrpper {
		padding-right: calc((100% - 960px) / 2);
	}
	.second-slider {
		padding-bottom: 100px;
	}

	.image-slider-area {
		padding-left: calc((100% - 960px) / 2);
	}

	.newsletter-area {
		padding: 100px 0;
	}

	.desktop-one-banner-area::after {
		height: 220px;
	}
	.desktop-one-banner-area {
		padding-top: 100px;
	}
	.desktop-one-banner-cntn h3 {
		margin-bottom: 25px;
	}

	.post-cntn h3 {
		margin-bottom: 25px;
	}
	.post-cntn p {
		font-size: 26px;
	}

	.post-row-one .post-cntn {
		padding-left: calc(100% - 960px / 2);
	}
	.post-row-tow .post-cntn {
		padding-right: calc(100% - 960px / 2);
	}
}

/*=========================
Medium Screen - Tablate
=========================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	.header-area {
		padding: 20px 0;
	}
	.header-wrpper {
		padding: 0 20px;
	}
	.hamburger-icon img {
		width: 45px;
		cursor: pointer;
	}

	.footer-wrpper {
		row-gap: 30px;
	}
	.footer-inner-area {
		row-gap: 20px;
	}

	.home-title-area {
		padding-top: 70px;
		padding-bottom: 90px;
	}
	.home-title-wrpper {
		row-gap: 50px;
		position: relative;
		z-index: 2;
	}
	.home-title-wrpper p {
		font-size: 28px;
	}

	.first-slider-area,
	.second-slider-wrpper {
		padding-right: calc((100% - 720px) / 2);
	}
	.second-slider {
		padding-top: 70px;
		padding-bottom: 60px;
	}
	.image-slider-area {
		padding-left: calc((100% - 720px) / 2);
	}

	.newsletter-area {
		padding: 100px 0;
	}
	.section-one::after {
		content: url(../images/section-one-mobile-after.png);
		z-index: 0;
	}

	.desktop-one-banner-area::after {
		height: 135px;
	}
	.desktop-one-banner-area {
		padding-top: 80px;
	}
	.desktop-one-banner-cntn h3 {
		margin-bottom: 25px;
	}
	.desktop-one-banner-cntn p {
		font-size: 26px;
	}

	.post-area {
		padding-top: 80px;
	}
	.post-row-one,
	.post-row-tow {
		row-gap: 30px;
	}
	.post-row-one .col-lg-6:nth-child(2) {
		padding-right: 50px;
		padding-left: 50px;
	}
	.post-cntn h3 {
		margin-bottom: 20px;
	}
	.post-cntn p {
		font-size: 27px;
	}
	.post-row-one .post-cntn {
		padding-right: 0;
	}
	.post-row-tow .post-cntn {
		max-width: 100% !important;
		padding-left: 50px;
		padding-right: 50px;
		margin-left: 0;
	}
}

/*===============================
Xtra Small Screen - Small Mobile
=================================*/
@media screen and (max-width: 767px) {
	.header-area {
		padding: 20px 0;
	}
	.header-wrpper {
		padding: 0 10px;
	}
	.hamburger-icon img {
		width: 35px;
		cursor: pointer;
	}
	.main-logo a img {
		width: 110px;
	}

	.footer-wrpper {
		row-gap: 30px;
	}
	.footer-inner-area {
		row-gap: 20px;
	}
	.footer-menu {
		flex-wrap: wrap;
		row-gap: 16px;
	}
	.footer-menu li {
		width: 50%;
		text-align: center;
	}
	.footer-menu li a,
	.footer-inner-area h4 {
		font-size: 15px;
	}

	.home-title-area {
		padding-top: 45px;
		padding-bottom: 50px;
	}
	.home-title-wrpper {
		row-gap: 30px;
		position: relative;
		z-index: 2;
	}
	.home-title-wrpper h2 {
		font-size: 38px;
	}
	.home-title-wrpper p {
		font-size: 19px;
	}
	.home-title-wrpper a {
		padding: 20px 70px;
		font-size: 22px;
		border-radius: 10px;
	}

	.firstSlider {
		display: none;
	}
	.first-slider-heading {
		font-size: 23px;
		text-align: center;
	}
	.mobile-screen-cards {
		padding: 0 50px;
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		z-index: 2;
		position: relative;
	}
	.slider-item {
		margin-right: 0;
		margin-bottom: 0;
	}

	.second-slider {
		padding-top: 35px;
		padding-bottom: 45px;
	}
	.circles-parent {
		margin: 25px 0;
	}
	.circle-shap {
		width: 78px;
		height: 78px;
		padding: 20px;
	}
	.section-title h3 {
		font-size: 23px;
	}
	.section-title p {
		font-size: 19px;
	}
	.single-circle p {
		font-size: 15px;
		margin-top: 5px;
	}

	.image-slider-area {
		padding-left: 15px;
	}

	.newsletter-area {
		padding-top: 60px;
		padding-bottom: 32px;
	}
	.newsletter-wrpper {
		padding-left: 30px;
		padding-right: 30px;
	}
	.newsletter-wrpper h3 {
		font-size: 19px;
		margin-bottom: 18px;
	}
	.section-one::after {
		content: url(../images/section-one-mobile-after.png);
		z-index: 0;
	}

	.desktop-one-banner-area {
		padding-top: 100px;
	}
	.desktop-one-banner-cntn h3 {
		font-size: 23px;
		margin-bottom: 43px;
	}
	.desktop-one-banner-cntn p {
		font-size: 19px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.desktop-one-banner-area::after {
		height: 100px;
	}

	.post-area {
		padding-top: 89px;
	}
	.post-row-one,
	.post-row-tow {
		row-gap: 26px;
	}
	.post-row-one .col-lg-6:nth-child(2) {
		padding-right: 50px;
		padding-left: 50px;
	}
	.post-cntn h3 {
		margin-bottom: 20px;
		font-size: 23px;
	}
	.post-cntn p {
		font-size: 19px;
	}

	.post-row-one .post-cntn {
		padding-right: 0;
	}
	.post-row-tow .post-cntn {
		max-width: 100%;
		padding-left: 50px;
		padding-right: 50px;
	}
	.post-area-two {
		padding-top: 41px;
	}
}
